*{
  margin: 0;
  padding:0;
}
header{
  background-color: #3a5795;
    height: 82px;
    width:100%;
}
header .logo{
  float: left;
  width:30%;
}
header .form-main{
  float: right;
  margin-right: 5%;
  margin-top: 20px;
}
header .form-main div{
  display: inline-block;
}

header .form-main div label{
  color:#FFF;
}
